In [1]:
# global installs for needed packages
import numpy as np
import pandas as pd
from datetime import date

In [2]:
ds = pd.read_csv('./station.csv')
dtp = pd.read_csv('./trip.csv', error_bad_lines=False)
dw = pd.read_csv('./weather.csv')

dtp = dtp.drop_duplicates()
dtp.head()

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

## What is the average trip duration for a borrowed bicycle?

In [3]:
#pd.DataFrame(dt['tripduration']).mean()
avg_trip_dur = dtp['tripduration'].mean()
avg_trip_dur

1202.6122102556499

## What's the most common age of a bicycle-sharer?

In [4]:
mode_age = dtp[['birthyear']].groupby(dt.birthyear).count().sort_values('birthyear', ascending=False)
mode_age.head()

## Most common birth year is 1987. 2018 - 1987 = 31

NameError: name 'dt' is not defined

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [ ]:
pd.DataFrame(dw).head(5)

In [ ]:
dw['Date'] = pd.to_datetime(dw['Date'], errors='coerce')
dw['MONTH'] = dw['Date'].dt.month
dw['Precipitation_In'].groupby(dw.MONTH).mean()

In [ ]:
dw['Precipitation_In'].groupby(dw.MONTH).median()

## What’s the average number of bikes at a given bike station?

In [ ]:
(ds['current_dockcount']).mean()

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [ ]:
(ds['install_dockcount']).mean()

In [ ]:
(ds['current_dockcount']).mean()

more likely that you will lose bikes since the mean for install is greater!

In [ ]:
ds.head()

## What is the longest trip duration in bikeshare history?

In [ ]:
dtp.sort_values('tripduration', ascending=False).head(1)

## What are the top 5 bicycle dock counts?

In [ ]:
pd.DataFrame(ds[['install_dockcount']]).sort_values('install_dockcount', ascending=False).head(5)

## What are the top 5 bicycle dock counts?

In [ ]:
pd.DataFrame(dw['Events']).groupby(dw.Events).count().sort_values('Events', ascending=False).head()